
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Flight Search Engine!</h1>
    <p class="lead">Find the best flights and travel deals tailored just for you.</p>
    <hr class="my-4">
    <p>Sign up now to start searching for flights and receive personalized recommendations.</p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
  </div>
</div>
